<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center">
      <img src="YOUR_BRAND_IMAGE_URL" class="nav-icon" alt="Logo"> HavenNode
    </a> 

    <div class="navbar-nav">  
      <a class="nav-link d-flex align-items-center" routerLink="/dashboard">
        <img src="https://cdn-icons-png.freepik.com/512/1535/1535780.png" class="nav-icon" alt="Map"> Map
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/about">
        <img src="https://cdn-icons-png.flaticon.com/512/471/471663.png" class="nav-icon" alt="About"> About
      </a>
      <a class="nav-link d-flex align-items-center" routerLink="/">
        <img src="https://cdn-icons-png.flaticon.com/512/25/25694.png" class="nav-icon" alt="Home"> Home
      </a> 
    </div>
  </div>
</nav>